

.field_with_errors input {
    border-color: red;
}

.field_with_errors textarea {
    border-color: red;
}

.errors_message {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-color: #B20D30;
}

.btn {
    border: 1;
    line-height: 1;
    width: 100px;
    padding: 0 30px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: #3F84E5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn.destroy {
    background-color: #F8333C;
}

.btn.edit {
    background-color: #FCAB10;
}

.btn.show {
    background-color: #2B9EB3;
}

.btn.destroy:hover {
    background-color: rgba(248, 51, 60, 0.8);
}

.btn.edit:hover {
    background-color: rgba(252, 171, 16, 0.8);
}

.btn.show:hover {
    background-color: rgba(43, 158, 179, 0.8);
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.btn-group a {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 6px 6px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group a:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group a:hover {
  background-color: #3e8e41;
}

/* Create a top navigation bar with a black background color  */
.topnav {
  height: 49;
  background-color: #333;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split:hover {
  float: right;
  background-color: #ddd;
  color: black;
}

.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}

.wrapper {
  display: grid;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 15em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.btn {
  background-color: green;
}

